:root {
  --color-de-fondo: #ffe4e1;
  --color-de-fondo-menu: #ffd700;
  --color-de-link: #003e3d;
  --color-secundario: #573a0b;
  --color-tercero: olive;
  --color-cuarto: beige;
  --letra-Neucha: "Neucha", cursive;
  --letra-Macondo: "Macondo", cursive;
  --letra-Eagle_lake: "Eagle Lake", serif;
  --letra-Almendra: "Almendra Display", serif;
  --letra-Prompt-inputs: "Prompt", serif;
  --letra-Playwrite: "Playwrite GB S", serif;
  --letra-Nova: "Nova Round", serif;
  --letra-Raleway-principal: "Raleway", sans-serif;
}

body {
  font-family: var(--letra-Raleway-principal);
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.6;
  background-image: url(./assets/yellow-flowers-background.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  backdrop-filter: blur(7px);
}

/*----------------------------- HEADER ----------------------*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem;
  width: 100%;
  box-sizing: border-box;
}

.name_dev_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__title {
  font-family: var(--letra-Playwrite);
  font-size: 4rem;
  text-align: center;
  align-self: flex-start;
  margin: 0;
}

.header__subtitle {
  color: #471901;
  font-family: var(--letra-Neucha);
  align-self: flex-end;
  margin-top: 0;
}

.navegation {
  display: flex;
}

.navegation__list {
  gap: 15px;
  display: flex;
}

.navegation__element {
  font-family: var(--letra-Prompt-inputs);
}

ul {
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-de-link);
  text-decoration: underline overline orange;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-secundario);
}

/*------------------------- PRESENTATION ---------------------*/
.presentation__section {
  border: rgb(110, 9, 234) solid 5px;
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  gap: 10px;
}

.presentation {
  border: #000000 dashed 2px;
}

.presentation__foto {
  width: 30%;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 4rem;
  border: solid palegreen 2px;
}

.presentation__subtitulo {
  border: 2px solid orange;
  color: rgb(97, 39, 5);
  font-style: italic;
  font-family: var(--letra-Eagle_lake);
  font-weight: 400;
  font-size: medium;
  justify-self: center;
}

#presentation__txt {
  margin: 0 5rem 0 1.5rem;
}

.redes {
  display: flex;
  flex-flow: wrap row;
  align-items: space-around;
  justify-self: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  gap: 76px;
}

.redes__img {
  background-size: 16px;
  justify-items: space-around;
}

.__titulo {
  justify-self: center;
  font-family: var(--letra-Prompt-inputs);
}

.skills-section {
  border: solid 2px rgb(67, 84, 214);
}

.skill-element-box {
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-list {
  border: dashed purple 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.hobbies-list {
  border: dashed red 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.hobbies__icono {
  display: flex;
  justify-self: center;
}

form {
  border: red solid 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 7rem;
}

input [type="text"] {
  border: dashed blue 2px;
  background-color: #1b365c;
}

textarea {
  width: 500px;
  height: 200px;
  font-family: var(--letra-Prompt-inputs);
}

button {
  border-radius: 30px;
  color: #ffff;
  background-color: #683600;
  width: 20rem;
}

button:hover {
  background-color: #9c5306;
  cursor: pointer;
}

.footer {
  background-color: #1b365c;
  color: #92bae2;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.footerTxt {
  align-self: stretch;
}

/* ------------------------------ Sección Menú -------------------------------*/

/* --------- Sección Presentación -----------*/

/* ------------------------------ Sección sobre mí ----------------------------------*/

/*------------------------------ Sección de Habilidades ------------------------------*/

/*------------------------------ Sección de Aficiones --------------------------------*/

/*------------------------------ Sección de Proyectos --------------------------------*/

/*------------------------------ Sección de Contacto ---------------------------------*/

/* ------------------------------ Responsividad ---------------------------------------*/

/*------------------------------ Pantallas pequeñas ---------------->
@media (max-width: 80px) {
  .presentacion__foto {
    display: flex;
    flex-wrap: wrap;
  }
}

/*-------------------- Tablets y pantallas más grandes -------------->
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /*.header__logo {
    max-width: 100px;
    border: red 15px;
  }

  .header__titulo {
    font-size: 1.5rem;
    border: red 10px;
  }

  .navegacion__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .navegacion__elemento a {
    font-size: 1rem;
  }
}

/*------------------------ Pantallas grandes ------------------>

@media (min-width: 1024px) {
  /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
/*.header__titulo {
    font-size: 1.8rem;
    border: red 15px;
  }

  .navegacion__elemento a {
    font-size: 1.1rem;
  }
}

input,
textarea {
  border: solid red 2px;
  border-radius: 10px;
  padding: 8px;
  margin: 15px;
  display: flex;
  font-family: "Raleway", sans-serif;
}

button {
  border-radius: 5px;
  font-weight: 400;
  font-size: medium;
  color: red;
  transition: width;
}

button:hover {
  background-color: red;
  color: #ffff;
  width: 200px;
}

/*------------------  FOOTER  -----------------*/
